<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/crabcake">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">Crabcake Recipe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Jollof Rice Recipe">Jollof Recipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Red Red Recipe</a>
        </li>
    </ul>
</nav>
</body>
</html>